@page "{id:int}"
@model CourseManagementApp.Pages.Courses.ViewCourseModel
@{
}

<div class="container">
    <div class="row w-75 py-2 mx-auto">
        <div class="text-center my-2">
            <h3>@Model.CourseTeacher.Name</h3>
            <span>@Model.CourseTeacher.Lastname @Model.CourseTeacher.Firstname</span>
        </div>
        <div class="container shadow shadow-sm my-3 px-5 py-3">
            <span>@Model.CourseTeacher.Description</span>

            <div class="row mt-3">
                <a class="btn btn-danger float-start col-md-6 p-0 mx-auto border" style="height: 25px" href="/Courses">Back</a>
            </div>
        </div>
        
    </div>
</div>
