@page
@model CourseManagementApp.Pages.Courses.Teacher.IndexModel
@{
    ViewData["Title"] = "Courses";
}

<div class="container">
    <h3 class="text-center">Welcome @User?.Identity?.Name</h3>
    <div class="row my-3 p-3 shadow shadow-lg border border-1" style="min-height: 500px">
        <div class="col-md-6 border border-1 pt-2">
            <h4 class="text-center">Courses Created</h4>
            <div class="container py-2">
                @foreach (var item in Model.TeacherCourses)
                {
                    <div class="row shadow-sm py-2">
                        <div class="d-flex w-75 align-items-center" style="vertical">
                            <h4 class="my-0">@item.Name</h4>
                        </div>
                        <div class="container w-25">
                            <a class="w-100 h-50 btn btn-primary btn-sm float-end mx-1 border" name="ViewID" href="/Courses/ViewCourse/@item.Id">View</a>
                            <a class="w-100 h-50 btn btn-danger btn-sm float-end mx-1 border" name="ViewID" href="/Courses/Teacher/Delete/@item.scId">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6 border border-1 pt-2">
            <h4 class="text-center">Create Course</h4>
            <div class="container py-2">
                <form method="post">
                    <div class="mb-3">
                        <label for="courseName" class="form-label">Course Name</label>
                        <input name="CourseDTO.Name" type="text" class="form-control" id="courseName">
                        <span asp-validation-for="@Model.CourseDTO.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <textarea name="CourseDTO.Description" class="form-control" id="courseDescription" style="min-height: 250px"></textarea>
                        <label for="CourseDTO.Description">Course Description</label>
                        <span asp-validation-for="@Model.CourseDTO.Description" class="text-danger"></span>
                    </div>
                    <div class="container my-2 text-center">
                        <button type="submit" class="btn btn-primary mt-2 w-50">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>