@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application was created as a final project for SEV-OPA. You can find more about this application at the following Github <a href="https://github.com/Zeenus/CMApp">link</a>.</p>
</div>
